@import "tailwindcss";

html,
body,
#root {
  min-height: 100%;
  margin: 0;
}

body {
  font-family: Inter, "Segoe UI", sans-serif;
  min-width: 320px;
  min-height: 100vh;
  color: #0f172a;
  background: #eef2f6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
